<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="SimpleCouchDbMembershipProvider">
      <providers>
        <add name="SimpleCouchDbMembershipProvider"
             type="CouchDb.ASP.NET.CouchDbMembershipProvider, CouchDb.ASP.NET"
             applicationName="/"
             couchDbServerName="localhost"
             couchDbServerPort="5984"
             couchDbDatabaseName="couchdbnet"
             />
      </providers>
      
    </membership>

    <roleManager defaultProvider="CouchDbRoleProvider"
      enabled="true"
      cacheRolesInCookie="true"
      cookieName=".ASPROLES"
      cookieTimeout="30"
      cookiePath="/"
      cookieRequireSSL="false"
      cookieSlidingExpiration="true"
      cookieProtection="All" >
      <providers>
        <clear />
        <add
          name="CouchDbRoleProvider"
          type="CouchDb.ASP.NET.CouchDbRoleProvider, CouchDb.ASP.NET"
          applicationName="/"
          couchDbServerName="localhost"
          couchDbServerPort="5984"
          couchDbDatabaseName="couchdbnet"
          />
      </providers>
    </roleManager>
    
    <machineKey
      validationKey="[GenerateKey with MachineKeyGenerator and paste key here]"
      validation="SHA1"
      />
  </system.web>
</configuration>